{
	"compact": false,
	"env": {
		"development": {
			"presets": [
				["env", {
					"modules": false,
					"targets": {
						"browsers": ["> 1% in US", "last 2 versions", "safari >= 6"]
					}
				}],
				"stage-2"
			],
			"plugins": [
				"transform-runtime"
			]
		},
		"test": {
			"presets": [
				["env", {
					"targets": {
						"node": "current"
					}
				}],
				"stage-2"
			]
		}
	}
}
